* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
    .hamburger, .close {
        display: block;
    }
    #menu {
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 20px;
        background: none;
        border: none;
        color: black;
    }
    #menu {
        position: absolute; 
        left: 80%; 
        top: -80px;
    }
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "✖";
    }
    .navigation {
        display: none;
        flex-direction: column;
        list-style: none;
        background-color: #333;
        color: #fff;
    }
    
    .navigation a {
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }
    @media (max-width: 768px) {
        .navigation {
            display: none;
        }
    
        #menu.open + .navigation {
            display: flex;
        }
    }
    h1 {
        position: relative;
        left:24%;
        padding: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color:#EEE2DE;
    }
    .profile img {
        position: absolute;
        left:10%;
        bottom:78%;   
        border-radius: 10px;
        box-shadow: 0 0 30px black;
    }
    .card {
        background-color: rgb(204, 204, 204); 
        border-radius: 8px;
        width: 44%; 
        margin:0; 
        box-shadow: 0 0 10px black; 
        margin-block-end: auto;
    }
    .card h2 {
        background-color: #153448;
        color: rgb(204, 204, 204);
        padding: 5px; 
        border-radius: 10px;
        text-align: center;
        width: 396px; 
    }

    .card2 {
        position: absolute;
        background-color: rgb(204, 204, 204); 
        margin-left:1px;
        margin-top:200px;
        border-radius: 15px;
        box-shadow: 0 0 10px black; 
        width: 83%;  
    }
    h4{
        position: absolute;
        font-size:medium;
        bottom:20px;
    }
    .card3 {
        position: absolute;
        background-color: rgb(204, 204, 204); 
        border-radius: 15px;
        width: 84%;  
        box-shadow: 0 0 10px black; 
        margin-top: 800px;
        margin-left: 10px;
        
    }
    .card3 h5 {
        background-color: #153448;
        color: rgb(204, 204, 204);
        padding: 10px; 
        border-radius: 10px;
        text-align: center;
        width: 100%; 
        font-size:larger;
    }
  
    .filters-buttons {
        display: flex;
        border-radius: 10px;
        color:white;
    
    }
    button {
       font-size: small;
       cursor: pointer;
       margin:10px;
       margin-top: 80px;
       margin-left: 15px;
    }
    
footer{
    background-color: #153448;
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    color:rgb(204, 204, 204);
    font-weight: 100;
    font-size: 100%;
    margin:10px;
    margin-top: 330%;

}
#lastModified {
    position: absolute;
    margin-top: 50px;
    color: #FFC55A;
     
}

    
   
    }